*{
	box-sizing: border-box;
}

body {
	margin: 0;
}

header {
	width: 100%;
	height: 59vw;
	position: relative;
	margin: 0;
	padding: 0;
	background-image: url("../img/foto_encabezado_1.JPG");
	background-size: 100%;
	background-repeat: no-repeat;

}

.back-img {
	width: 100%;
	height: auto;
}

header .logo {
	position: absolute;
	left: 2.5%;
	top: 7%;
	width: 20%;
	height: auto;

}

header .tip {
	padding: 0% 2.7% 0% 2.7%;
	width: 43%;
	position: absolute;
	right: 3.6%;
	bottom: 15.5%;
	background-color: rgba(255,255,255,0.6);
	
}

header .tip p {
	margin: 2%;
	color: rgba(54,48,112,1);
	text-align: center;
	font-family: verdana;
	font-size: 2.5vw;
}

.menu-bar {

	width: 100%;
	background: rgba(54,48,112,0.8);
	position: absolute;
	bottom: 0%;
}

#btn-main-menu {
	display: none;
}

.menu-bar label {
	display: none;
	width: 50px;
	height: 50px;
	padding: 10px;
}

.menu-bar label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.menu-bar label img {
	width: 100%;
	height: auto;
}

.menu-bar .our-name {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 20%;
	top: 20%;
	color: #fff;
	font-family: verdana;
	font-size: 20px;
}

.main-menu ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-bar li:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.main-menu li a {
	display: block;
	padding: 15px 3.9vw;
	color: #fff;
	text-decoration: none;
	font-family: verdana;
	font-weight: bold;
}

h2 {
	font-family: ash;
	color: rgba(54,48,112,1);
	font-size: 7.5vw;
	margin: 0;
	font-weight: normal;
}

p {
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 1.8vw;
}

article, section {
	position: relative;
	margin: 0;
	padding: 0;
}

#noticias {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

#noticias h2 {
	order: 2;
	flex: 1 1 45%;
	text-align: center;	
}

#noticias p {
	flex: 1 1 55%;
	order: 1;
	text-align: right;
	margin-top: 30px;
	margin-left: 16%;
}

#mision {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

#mision h2{
	order: 1;
	flex: 1 1 35%;
	text-align: center;	
}

#mision p {
	flex: 1 1 65%;
	order: 2;
	text-align: left;
	margin-top: 30px;
	margin-right: 10%;
}

#nuestro-impacto {
	margin-top: 75px;
	padding-top: 7.5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../img/foto_nuestro_impacto.JPG");	
	background-size: 100%;
	background-repeat: no-repeat;
}

#nuestro-impacto h2 {
	position: absolute;
	top:0;
	right: 0;
	margin-top: -4.4%;
	margin-right: 6%;
}

#nuestro-impacto img {
	width: 88.5vw;
	height: auto;
}

#nuestro-impacto p {
	width: 75%;
	padding: 1.5%;
	background-color: rgba(255,255,255,0.6);
	text-align: center;
	margin-bottom: 20px;
}

#premios-reconocimientos {
	margin-top: 75px;
	padding-top: 22%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-image: url("../img/foto_premios_y_reconocimientos.JPG");	
	background-size: 100%;
	background-repeat: no-repeat;	
}

#premios-reconocimientos h2 {
	position: absolute;
	top:0;
	right: 0;
	margin-top: -4.4%;
	margin-right: 6%;
}

#premios-reconocimientos p {
	width: 75%;
	padding: 1.5%;
	background-color: rgba(255,255,255,0.6);
	text-align: center;
	margin-right: 9%;
	margin-bottom: 20px;
}

#conectados-mundo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

#conectados-mundo h2{
	order: 1;
	flex: 1 1 50%;
	text-align: center;
	line-height: 85%;	
}

#conectados-mundo p {
	flex: 1 1 50%;
	order: 2;
	text-align: left;
	margin-top: 50px;
	margin-right: 8%;
}

#vinculate {
	margin-top: 75px;
	margin-bottom: 7%;
	padding-top: 35.5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../img/foto_vinculate.JPG");	
	background-size: 100%;
	background-repeat: no-repeat;	
}

#vinculate h2 {
	position: absolute;
	top:0;
	right: 0;
	margin-top: -4.4%;
	margin-right: 6%;	
}

#vinculate p {
	width: 86%;
	padding: 1.5%;
	background-color: rgba(255,255,255,0.6);
	text-align: center;
	margin-bottom: 3.3%;
}

footer {
	display: flex;
	justify-content: center;
	color: rgba(187,188,182,1);
	background-color: rgba(93,89,140,1);
	border-top: 4px solid rgba(187,188,182,1);
	height: 26vh;
}

footer p {
	font-size: 1.6vw;
}

footer ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer li {
	cursor: pointer;
}

footer li img {
	width: 60px;
	height: auto;
}

footer li:hover {
	filter: brightness(0.75);
}

footer .info {
	flex: 1 1 75%;
	margin-top: 2%;
	margin-left: 6%;
}

footer .redes-sociales {
	flex: 1 1 25%;
	margin-top: 2%;
}

@media (max-width: 800px) {

	header .logo {
		top: 60px;
		width: auto;
		height: 32%;
	}

	header .tip {
		width: 100%;
		height: 25vw;
		bottom: 0;
		right: 0;
	}

	header .tip p {
		font-size: 4vw;
	}

	.menu-bar {
		top: 0%;
		bottom: auto;
	}

	.menu-bar label {
		display: block;
	}

	.menu-bar .our-name{
		display: block;
		font-size: 25px;
	}

	.main-menu {
		position: absolute;
		background: rgba(54,48,112,0.7);
		width: 70%;
		margin-left: -70%;
		transition: all 0.5s;
	}

	.main-menu ul {
		flex-direction: column;
		background-color: #fff;
	}

	.main-menu li a {
		color: rgba(54,48,112,1);
	}

	#btn-main-menu:checked ~ .main-menu {
		margin-left: 0%;
	}
}

@media (max-width: 450px) {

	.menu-bar label {
		width: 40px;
		height: 40px;
		padding: 8px;
	}

	.menu-bar .our-name{
		font-size: 20px;
	}

	header .logo {
		top: 48px;
	}
}

@media (max-width: 350px) {

	header .tip p {
		font-size: 4.5vw;
	}

	header .logo {
		display: none;
	}

	header .tip {
		height: 30vw;
	}
}